h1, p { position: absolute; left: -9999px; }

div {position: relative;}

#start {
 margin: 1% 0px 0px 46%;
}

#wrapper { background: #bedfe4 url('./imgs/Sun.png') no-repeat 40% -40%; border: 5px solid #402309;width: 80%;height:80vh;margin: 0 auto;}

#cloud-01 { background: url('./imgs/cloud_PNG16.png') no-repeat 80% -20%;}

#cloud-02 { background: url('./imgs/cloud2.png') no-repeat 19% 2%; }

#cloud-03 { background: url('./imgs/fish.png') no-repeat 40% 4%; }

#cloud-04 {	background: url('./imgs/nyan.png') no-repeat 53% 30%; }

#mountains-03 { background: url('./imgs/mountain.png') no-repeat left;}

#ground { background: url('./imgs/ground.png') no-repeat left; }

#full-robot { width: 271px; }
#full-robot2 { width: 271px; }

#branding {
	background: url('./imgs/kanye2.png') no-repeat center top;
	width: 271px;
	height: 253px;
	z-index: 4;
	}

#content {
	background: url('./imgs/torso2.png') no-repeat center top;
	width: 271px;
	height: 164px;
	z-index: 3;
	margin-top: -65px;
	}

#sec-content {
	background: url('./imgs/hips.png') no-repeat center top;
	width: 271px;
	height: 124px;
	z-index: 2;
	margin-top: -90px;
	}

#footer {
	background: url('./imgs/robo.png') no-repeat center top;
	width: 271px;
	height: 244px;
	z-index: 1;
	margin-top: -90px;
	}


/*ROBOT TWO*/
#branding2 {
  background: url('./imgs/kanye1_right.png') no-repeat center top;
  width: 271px;
  height: 253px;
  z-index: 4;
  position: absolute;
  top: -210%;
  left: 285%;
  }

#content2 {
  background: url('./imgs/torso2.png') no-repeat center top;
  width: 271px;
  height: 164px;
  z-index: 3;
  position: absolute;
  top: -144%;
  left: 285%;
  }

#sec-content2 {
  background: url('./imgs/hips.png') no-repeat center top;
  width: 271px;
  height: 124px;
  z-index: 2;
  position: absolute;
  top: -98%;
  left: 284%;
  }

#footer2 {
  background: url('./imgs/legs2_right.png') no-repeat center top;
  width: 271px;
  height: 244px;
  z-index: 1;
  top: -185px;
  left: 286%;
  }
